* {
    outline: 5px black solid;
}

.background-color {
    background-color: #732F2F
}

.text-white {
    color: white
}

.background-blue {
    background-color: #3462BF
}

.background-green {
    background-color: #54734C
}

.background-football {
    background-color: #A65161
}